body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #1d1d1d;
}

.section__title {
  text-align: left;
  margin-bottom: 15px;
}

@media only screen and (max-width: 575px) {
  .container {
    margin-left: 8px;
    margin-right: 8px;
  }
}
