body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}

.section__title {
  text-align: left;
  margin-bottom: 15px;
}

@media only screen and (max-width: 575px) {
  .container {
    width: 288px;
  }
}
