@import url("./language-selector.css");

.footer {
  padding-top: 55px;
  padding-bottom: 40px;
  background: #262626;
}

.footer,
.footer a {
  color: #ffffff;

  text-decoration: none;
}

.footer a:hover,
.footer a :focus {
  color: #bababa;
}

.logo__wrapper {
  padding-bottom: 40px;
  margin-bottom: 32px;

  border-bottom: solid 1px #ffffff;
}

.logo__img {
  width: 192px;
}

.info {
  padding-bottom: 40px;
  margin-bottom: 24px;

  border-bottom: solid 1px #ffffff;
}

@media only screen and (min-width: 768px) {
  .info {
    padding-bottom: 49px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .info__links {
    margin-bottom: 40px;
  }
}

.links__inner .language {
  margin-bottom: 35px;
}

.links__inner {
  margin-bottom: 20px;
}

.links__inner .green {
  color: #49a144;
}

.social_nets {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.social_nets a:not(:last-child) {
  margin-right: 15px;
}

.social_nets img {
  width: 24px;
}

.info__commerce {
  font-size: 13px;
  line-height: 1.15;
}

@media only screen and (max-width: 767px) {
  .info__commerce ul {
    margin-bottom: 25px;
  }
}

.info__commerce li:not(:last-child) {
  margin-bottom: 25px;
}

.info__user {
  font-size: 13px;
  line-height: 1.15;
}

.info__user li:not(:last-child) {
  margin-bottom: 25px;
}

.app__list {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .app__list {
    margin-bottom: 40px;
  }
}

.app__list ul {
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-bottom: solid 1px #ffffff;
}

@media only screen and (min-width: 768px) {
  .app__list ul {
    padding-bottom: 40px;
  }
}

.app__list li:not(:last-child) {
  margin-right: 25px;
}

@media only screen and (min-width: 768px) {
  .app__list li:not(:last-child) {
    margin-right: 40px;
  }
}

.app__list .appstore,
.app__list .googleplay {
  height: 36px;
}

@media only screen and (min-width: 768px) {
  .appstore,
  .googleplay {
    height: 40px;
  }
}

.copirights {
  font-size: 11px;
  line-height: 1.18;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  /* .copirights {
    text-align: left;
  } */

  .copirights li:not(:last-child) {
    margin-bottom: 25px;
  }
}
