.restaurant__wrapper {
  background-image: url("../img/restaurant__wrapper-bg/mobile/bg-1@x2.jpg");
  height: 255px;
}

@media only screen and (max-width: 767px) {
  .restaurant__wrapper {
    margin-bottom: 110px;
  }
}

@media only screen and (min-width: 768px) {
  .restaurant__wrapper {
    background-image: url("../img/restaurant__wrapper-bg/tablet/bg-1@x2.jpg");
    height: 364px;
  }
}

@media only screen and (min-width: 1124px) {
  .restaurant__wrapper {
    background-image: url("../img/restaurant__wrapper-bg/desktop/bg-1@x2.jpg");
  }
}

.restaurant__info {
  padding: 25px 40px;

  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
}

@media only screen and (max-width: 767px) {
  .restaurant__info {
    margin-top: 130px;
  }
}

@media only screen and (min-width: 768px) {
  .restaurant__info {
    padding: 40px 40px;
  }
}

.restaurant__info .element__title {
  margin-bottom: 40px;

  font-size: 24px;
  line-height: 28px;
}

@media only screen and (min-width: 768px) {
  .restaurant__info .element__title {
    margin-bottom: 55px;

    font-size: 36px;
    line-height: 42px;
  }
}

.restaurant__info .element__tag {
  display: flex;
  flex-direction: row;

  font-size: 14px;
  line-height: 16px;
}

@media only screen and (max-width: 767px) {
  .restaurant__info .element__tag {
    margin-bottom: 15px;
    justify-content: center;
  }
}

.restaurant__info .element__tag li:not(:last-child)::after {
  content: "•";
  display: inline-block;
  padding: 0px 2px;
}

.restaurant__info .element__time {
  width: 100px;
  padding: 10px 15px;

  background-color: #262626;
  border-radius: 16px;

  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
}

.categoty__outer {
  margin-bottom: 55px;

  color: #626262;
  border: 1px solid rgba(117, 117, 117, 0.2);
}

.category__list {
  padding: 30px 0px;

  font-size: 16px;
  line-height: 19px;
}

.category__list li {
  display: inline;
  padding: 10px 0px;

  cursor: pointer;
}

.category__list li:not(:last-child) {
  margin-right: 40px;
}

.restaurant__category-name {
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .restaurant__category-name {
    margin-bottom: 55px;

    text-align: center;
  }

  .restaurant__category-name::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    position: relative;
    top: 10px;
    left: calc(50% - 25px);

    background-color: #757575;
  }
}

.restaurant__product-list {
  margin: -8px;
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .restaurant__product-list {
    margin: -16px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .restaurant__product-list {
    margin: -25px -8px;
    padding-bottom: 80px;
  }
}

.product__card {
  margin: 8px;
  display: flex;
  flex-direction: column;

  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .product__card {
    margin: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .product__card {
    margin: 25px 8px;
  }
}

.product__card:focus,
.product__card:hover {
  background-color: #75757566;
}

.product__description {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100%;
}

.product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: #1d1d1d;

  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
}

.compound {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.61;
  flex: 1 1 auto;

  color: #626262;
}

.price {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;

  color: #1d1d1d;
}

.product__card img {
  width: 100px;

  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  .product__card img {
    width: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .product__card img {
    width: 170px;
  }
}
