@media only screen and (min-width: 768px) {
  .restaurant__list {
    margin: 0px -8px;
  }

  .list__element {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.list__element {
  margin-bottom: 15px;
}

.list__element a {
  color: inherit;
  text-decoration: none;
}

.element__img {
  margin-bottom: 15px;
}

.element__description .element__title {
  margin-bottom: 5px;
  line-height: 1.5;
}

.element__description .element__tag {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;

  color: #626262;
}

.element__description .element__tag li:not(:last-child)::after {
  content: "•";
  display: inline-block;
  padding: 0px 2px;
}

.element__description .element__time {
  margin-bottom: 20px;
}

.section.restaurant {
  margin-bottom: 50px;
}
