.search {
  margin-bottom: 55px;
}

.search input {
  min-width: 100%;
  padding: 5px 5px;

  font-size: 16px;
  line-height: 1.5;
  color: #626262;

  border: none;
  border-bottom: 1px solid #757575;
  border-radius: 0;
  opacity: 0.5;
}
