body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}

.container {
  height: 100%;
  padding: 0;
}

.container .row {
  height: 100%;
  /* width: 100%; */
}

@media only screen and (max-width: 575px) {
  .container {
    width: 288px;
  }
}

.header {
  height: 72px;
  margin-bottom: 32px;

  box-shadow: 0px 4px 4px rgba(111, 51, 51, 0.25);
}

.header__logo a {
  padding: 7px 0px;
}

.header__login a {
  width: 78px;
  height: 40px;
  padding: 7px 20px;

  font-weight: 500;
  font-size: 13px;
  line-height: 1.85;

  color: #1d1d1d;

  border: 1px solid #e0e0e0;
  border-radius: 2px;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .header__login {
    margin-right: 15px;
  }
}

.header__basket {
  padding: 0px 10px;
}

.search {
  min-width: 100%;
  padding: 5px 5px;
  margin-bottom: 55px;

  font-size: 16px;
  line-height: 1.5;
  color: #626262;

  border: none;
  border-bottom: 1px solid #757575;
  border-radius: 0;
  opacity: 0.5;
}

.section__title {
  text-align: left;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .restaurant__list {
    margin: -8px;
  }

  .list__element {
    margin: 8px;
  }
}

.list__element img {
  margin-bottom: 15px;
}

.element__title {
  margin-bottom: 5px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;

  color: #1d1d1d;
}

.element__title a {
  color: inherit;

  text-decoration: none;
}

.element__title a:focus,
.element__title a:hover {
  color: #49a144;
}

.element__tag {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;

  color: #626262;
}

.element__tag li:not(:last-child)::after {
  content: "•";
  display: inline-block;
  padding: 0px 2px;
}

.element__time {
  margin-bottom: 20px;
}

.section.restaurant {
  margin-bottom: 50px;
}

.footer {
  padding-top: 55px;
  padding-bottom: 40px;
  background: #262626;
}

.footer,
.footer a {
  color: #ffffff;

  text-decoration: none;
}

.footer a:hover,
.footer a :focus {
  color: #bababa;
}

.logo__wrapper {
  padding-bottom: 40px;
  margin-bottom: 32px;

  border-bottom: solid 1px #ffffff;
}

.logo__img {
  width: 192px;
}

.info__social {
  margin-bottom: 40px;
}

.info {
  padding-bottom: 40px;
  margin-bottom: 25px;

  border-bottom: solid 1px #ffffff;
}

.info__social .green {
  color: #49a144;
}

.info__social select {
  margin-bottom: 35px;
}

.info__social .hash {
  margin-bottom: 15px;
}

.social_nets {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.social_nets a:not(:last-child) {
  margin-right: 15px;
}

.social_nets img {
  width: 24px;
}

@media only screen and (max-width: 767px) {
  .info__commerse {
    margin-bottom: 25px;
  }
}

.info__commerse li:not(:last-child) {
  margin-bottom: 25px;
}

.info__user li:not(:last-child) {
  margin-bottom: 25px;
}

.app__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  margin-bottom: 40px;

  border-bottom: solid 1px #ffffff;
}

.app__list li:not(:last-child) {
  margin-right: 25px;
}

@media only screen and (min-width: 768px) {
  .app__list li:not(:last-child) {
    margin-right: 40px;
  }
}

.appstore,
.googleplay {
  height: 36px;
}

.copirights {
  margin-bottom: 40px;

  font-size: 11px;
  line-height: 13px;
}

@media only screen and (max-width: 767px) {
  .copirights {
    text-align: left;
  }

  .copirights li:not(:last-child) {
    margin-bottom: 25px;
  }
}
